@charset "utf-8";

@media all {
	html { font: 100%/1.4 serif; font-size-adjust: 0.46; }
	body { margin: 0 20px 3em; }
	#title { padding: .2em 10px; margin-bottom: .1em; width: auto; }
	
	em > em { letter-spacing: 1pt; }
	
	/* general */
	img, abbr { border: 0; }
	q { quotes: "" "" "" ""; }
	
	#title, #branch, body > .nav.extra, h1, h2, h3, h4, h5, h6, dt { font-family: Candara, sans-serif; font-size-adjust: 0.47; }
	p, address, .content .fig { margin: .5em 0; }
	abbr, *[title] { cursor: help; }
	a, a[title], *[title] a, a *[title] { cursor: pointer; }
	cite:before { content: '– '; }
	
	/* top bar */
	#title > span:after, #title > a:after { content: ':'; }
	#title, #branch, #sf, .nav.extra ul { font-size: 1.1em; font-weight: normal; margin: 0; }
	#branch, #seq, #path, .nav.extra ul { display: block; list-style: none; padding: .2em 0; }
	body > .nav.extra a:hover { border-bottom: 1px solid; }
	#branch li, #seq li, #path li { display: inline; }
	#branch a, #sf legend { padding: .1em .2em; }
	.nav.extra a { margin: .1em .2em; }
	#seq { font-weight: bold; }
	#path li:after { content: ' /'; }
	#path li:last-child:after { content: ''; }
	
	/* content */
	h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: .6em 0 .4em; }
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
	#about { font-size: .8em; margin-top: 3em; margin-bottom: 4em; }
	.fig > * { padding: 0 0 1px; }
	
	#container ul { list-style-type: square; }
	
	address { font-style: italic; }
	address .email { display: inline-block; margin-top: .35em; }
	pre, code { font-family: monospace; }
	th, td { padding: .5em; }

	dt { display: list-item; font-size: 1.25em; list-style: square; margin: .5em 0 .2em 2em; }
	dd { margin-left: 2.5em; }

	code .kwd { color: #808; }
	code .str { color: red; }
	code .fld { color: #00c; }
	code .ilc { color: #181; }
	code .rtn { color: #900; }
	code .doc { color: #06c; }
	code .kwd, code .rtn, code .doc-kwd, strong, b { font-weight: 700; }
}

@media screen, projection, handheld, tv {
	/*#title { position: absolute; top: 0; left: 0; right: 0; }*/
	#title, #branch { background: #000; color: #fff; }
	#title a { color: #fff; }
	#branch { position: relative; }
	#branch a { color: #fff; border: none; }
	#branch li a { background: #800; border-radius: 2px; }
	#branch li:hover a, #branch li:focus a { background: #a41; }
	#branch li.active a { background: #c11; }
	#branch li.active:hover a, #branch li.active:focus { background: #c52; }
	#sf fieldset { border: 1px solid #bbb; }
	
	a { color: #a00; text-decoration: none; }
	a:hover, thead th { border-bottom: 1px solid; }
	a:visited { color: #821; }
	abbr { border-bottom: 1px dotted; }
	
	pre, code { overflow: auto; }
	
	h1:target, h2:target, h3:target { background: #eee; border-style: dotted; border-width: 1px 0 1px; padding: 0 .3em; }
	
	#container, #container div { overflow: hidden; }
	#about { padding: 1em 0; }
}

/*** Resolutions ***/

/* Handheld screens */
@media
	screen and (max-width: 619px),
	projection and (max-width: 619px),
	tv and (max-width: 619px),
	handheld
{
	body { margin: 0; max-width: 536px; }
	body > * { margin-left: 8px; margin-right: 8px; }
	#title { margin: 0; padding: .3em 4px; }
	#title > * { padding: .2em 4px; }
	#branch { position: absolute; right: 0; top: 0; margin: 0 auto; padding: .3em; width: auto; }
	#branch li a { padding: .2em .3em; }
	#seq { float: right; margin-bottom: 0; }
	#seq, #path { margin-top: 0; }
	body > .nav.extra { margin-top: 1em; margin-bottom: 1em; }
	
	#container .content img { width: 100%; }
	#container .content img[width] { width: auto; height: auto; max-width: 100%; }
}

/* Small (e.g. netbook) screens */
@media
	screen and (min-width: 620px),
	projection and (min-width: 620px),
	tv and (min-width: 620px)
{
	body { margin-left: 100px; width: 520px; }
	
	/* top bar */
	#title { position: absolute; left: 0; right: 0; }
	#seq { position: absolute; left: 0; }
	body > .nav.extra { position: absolute; top: 1.8em; left: 370px; width: 240px; text-align: right; }
	body > .nav.extra a { color: #fff; }
	#sf input, #sf legend { margin: 0 .5em .5em; }
	#sf { margin: 0; padding: 0; float: right; }
	#sf fieldset { margin: 2px; padding: 2px; }
	
	#seq { width: 100px; margin: 0; padding: .2em 10px; }
	#path { width: 270px; margin-bottom: 3em; margin-top: 0; }
	
	/* content */
	#container .content img { width: 520px; }
	#container .content img[width] { width: auto; height: auto; max-width: 520px; }
}

/* Handheld AND Netbook screens */
@media
	screen and (max-width: 979px),
	projection and (max-width: 979px),
	tv and (max-width: 979px), handheld
{
	#container .content, #container .note { border-bottom: 1px solid #bbb; margin-bottom: 1em; padding-bottom: 1em; }
	#container .note:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 1px; }
	#container > div :last-child { margin-bottom: 0; }
}

/* Larger screens */
@media
	screen and (min-width: 980px),
	projection and (min-width: 980px),
	tv and (min-width: 980px)
{
	body { margin-left: 100px; width: 860px; }
	#container > h1, #container > h2, #container > h3, #container > h4, #container > h5, #container > h6 { width: 100%; overflow: hidden; }  
	#container .content { width: 520px; margin-right: 20px; float: left; }
	#container .note { width: 320px; float: right; position: relative; right: 0; border-bottom: 1px solid #bbb; padding-bottom: .5em; margin-bottom: .5em; }
	#container .note > *:first-child { margin-top: 0; }
	#container .note > *:last-child { margin-bottom: 0; }
	
	/* top bar */
	#branch { width: 540px; }
	
	body > .nav.extra, body > .nav.extra legend { color: #fff; }
	body > .nav.extra { position: absolute; top: 0; left: 640px; width: 320px; }
	#sf { background: #000; }
	#sf fieldset { border-color: #333; }
	#sf input, #sf legend { margin: 0; }
	
	#path { width: 520px; margin-bottom: 1em; margin-top: 0; }
}


@media screen, projection, tv {
	#container .content > *:first-child, #container .note > * > *:first-child { margin-top: 0; }
	#container .note > *:first-child { padding-top: 0; }
	#container .note h2, #container .note h3, #container .note h4 { margin-top: 0; }
}

@media print {
	a { border-bottom: 1pt solid; color: #000; text-decoration: none; }
	thead tr { border-bottom: 1pt solid #000; }
	
	#title a, #path a { border-bottom: none; }
	#path { margin: .2em 0; }
	#title { font-weight: bold; padding: 0; }
	#branch, #seq, body > .nav.extra { display: none; }
	
	div.note { border-top: 1pt solid #bbb; padding: 1em 0 0; margin: 1em 0 0; }
	a[href^="http://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="https://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="ftp://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="mailto:"]:after { border-bottom: none; content: " ("attr(href)")"; }
}

/* color box */
@media screen, projection, tv, handheld {
	/* do not alter this for compatibility */
	#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; }
	#cboxOverlay { position: fixed; width: 100%; height: 100%; }
	#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
	#cboxContent { position: relative; overflow: visible; }
	#cboxLoadedContent { overflow: auto; }
	#cboxLoadedContent iframe { display: block; width: 100%; height: 100%; border: 0; }
	#cboxTitle { margin: 0; }
	#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; }
	#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
	
	/* style */
	#cboxOverlay { background: #000; }
	#cboxContent { margin-top: 32px; }
	#cboxLoadedContent { background: #000; padding: 1px; }
	#cboxLoadingGraphic { background: url("../img/loading.gif") center center no-repeat; }
	#cboxLoadingOverlay { background: #000; }
	#cboxTitle { position: absolute; top: -22px; left: 0; color: #fff; }
	#cboxCurrent { position: absolute; top: -22px; right: 205px; text-indent: -9999px; }
	#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose { text-indent: -9999px; width: 20px; height: 20px; position: absolute; top: -20px; background: url(../img/controls.png) 0 0 no-repeat; }
	#cboxPrevious { background-position: 0px 0px; right: 44px; }
	#cboxPrevious.hover { background-position: 0px -25px; }
	#cboxNext { background-position: -25px 0px; right: 22px; }
	#cboxNext.hover { background-position: -25px -25px; }
	#cboxClose { background-position: -50px 0px; right: 0; }
	#cboxClose.hover { background-position: -50px -25px; }
	.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious { right: 66px; }
	.cboxSlideshow_on #cboxSlideshow { background-position: -75px -25px; right: 44px; }
	.cboxSlideshow_on #cboxSlideshow.hover { background-position: -100px -25px; }
	.cboxSlideshow_off #cboxSlideshow { background-position: -100px 0px; right: 44px; }
	.cboxSlideshow_off #cboxSlideshow.hover { background-position: -75px -25px; }
}
