@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html {
	background: #eaeaef;
	font: 1em/1.5 Georgia, serif;
	quotes: "" "";
	text-align: center;
}

body {
	max-width: 600px;
	text-align: left;
	margin: 0 auto;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.1;
}

#top, h1, h2, h3 {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
}

#top {
	font-size: 1.5em;
}

#top a {
	color: black;
	text-decoration: none;
}

#top a:hover {
	color: #800;
}

#branches {
	background: black;
	border-radius: 2px;
	list-style: none;
	font: 1.1em Candara, Arial, sans-serif;
	margin-top: 0;
	padding: 4px;
}

#branches li {
	display: inline;
}

#branches li a {
	background: #800;
	color: white;
	border-radius: 2px;
	padding: 6px;
	text-decoration: none;
}

#branches li a:hover {
	background: #c00;
}

#branches li.active a {
	background: #c00;
	text-shadow: 1px 1px black;
}

#path, #access {
	display: none;
}

#content, #extra, #about {
	background: white;
	overflow: hidden;
	padding: 1em;
	text-align: left;
}

#content > aside {
	max-width: 256px;
}

.teaser, #content > aside {
	float: right;
	margin: 0 0 0 1em;
}

.teaser img {
	border-radius: 4px;
}

#sf {
	text-align: center;
}

#sf fieldset {
	border: none;
}

#sf legend {
	display: none;
}

#sf input {
	text-align: left;
}

#about p {
	margin: 0;
}

h1, h2, h3, p {
	margin-top: 0;
}

address {
	font-style: normal;
}

.img-list {
	list-style: none;
	padding: 0;
}
