@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* unique elements */
html {
  font: 100%/1.5 Georgia, serif;
  quotes: none;
}

body {
  margin: 0 20px 3em;
}

#access {
  visibility: hidden;
  position: absolute;
}

/* dimensions */
table {
  width: 100%;
}

#sf {
  max-width: 240px;
}

.teaser {
  max-width: 320px;
}

.avatar {
  width: 60px;
  height: 60px;
}

/* positioning */
#site, #branches {
  position: fixed;
  z-index: 10;
}

#site {
  top: 0;
  left: 0;
  right: 0;
}

a.bm {
  display: block;
  position: relative;
  top: -48px;
}

/* floating */
#branches li, header > time, #blog-nav li {
  float: left;
}

h1, h2, h3, h4, #site, #nav, #content footer, #comments, #about, #content figure.huge img, #content figure.full img, .comment {
  clear: both;
}

#content aside {
  clear: right;
}

#nav, #branches, #path, #seq, #blog-nav ul {
  overflow: hidden;
}

/* margins */
p, figure, #branches, #blog-nav ul, #sf input {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 1.4em 0 .7em;
}

blockquote {
  border-left: .3em solid #eee;
  margin: 1em 2em 1em 1em;
  padding-left: .7em;
}

#sf fieldset {
  margin: 0 2px 2px;
}

#about {
  margin: 3em 0;
  overflow: hidden;
}

#about *:first-child {
  margin-top: 4em;
}

pre {
  padding: .5em;
}

p {
  margin: 0 0 .5em;
}

.meta p {
  margin: .5em 0;
}

h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0;
}

#comments {
  margin-top: 1em;
}

#path {
  margin-top: 2.1em;
}

dl.oview dt {
  margin-right: 10px;
}

#branches li, #blog-nav li {
  margin-right: 4px;
}

header > time {
  margin-right: 10px;
}

#path, #blog-nav, #content section, #content article, #content aside, #content header .meta, figcaption, .comment header, .comment .matter {
  margin-bottom: 1em;
}

/* paddings */
#blog-nav ul {
  padding: 0;
}

#site, #branches, #path {
  padding: .2em 0;
}

#branches a, header > time, #blog-nav a, #sf legend {
  padding: 0 4px;
}

#content .meta {
  padding: .2em 10px;
}

th, td {
  padding: .1em 6px;
}

#site {
  padding-left: 13px;
}

.toc {
  padding-left: 0;
}

.toc ul {
  padding-left: 30px;
}

.comment {
  padding-top: .5em;
}

.comment .meta {
  padding-bottom: .5em;
}

/* borders */
pre {
  border: 1px solid #ddd;
  border-radius: 4px;
}

p > code {
  border: 1px solid #ddd;
}

.teaser img {
  border-radius: 4px;
}

.feed img, iframe {
  border: none;
}

#cf textarea, #cf input[type=text] {
  border: 1px solid #666;
}

#cf textarea:focus, #cf input[type=text]:focus {
  border-color: #f60;
}

textarea:target, input:target {
  border-width: 2px;
}

#branches a, #blog-nav a, header > time {
  border: none;
  border-radius: 2px;
}

a:hover, thead th {
  border-bottom: 1px solid;
}

abbr {
  border-bottom: 1px dotted;
}

.meta, caption {
  border-bottom: 1px solid #bbb;
}

#content .meta, .teasers, .comment {
  border-top: 1px solid #bbb;
}

.comment.new {
  border-top: 4px solid #0d0;
}

/* colors */
a {
  color: #a00;
}

a:visited {
  color: #821;
}

a:active {
  color: #f00;
}

#site, #site a, #branches a, header > time, #blog-nav a {
  color: #fff;
}

#site {
  background: #000;
}

#branches a, #blog-nav a {
  background: #800;
}

#branches a:hover, #branches a:focus, #blog-nav a:hover, #blog-nav a:focus {
  background: #b30;
}

#branches li.active a {
  background: #c00;
}

#branches li.active:hover a, #branches li.active a:focus {
  background: #c40;
}

.rows tr:nth-child(even) {
  background: rgba(0, 0, 0, .05);
}

.cols col:nth-child(even) {
  background: rgba(0, 0, 0, .05);
}

header > time {
  background: #800;
}

#content .meta, pre {
  background: #eee;
}

.invalid {
  background: url(/res/error.png) right center no-repeat;
}
.valid {
  background: url(/res/accept.png) right center no-repeat;
}
input[type=checkbox].invalid {
  background: none;
  outline: 1px solid red;
}
input[type=checkbox].valid {
  background: none;
  outline: 1px solid green;
}

/* list styles */
ul {
  list-style: square;
}

#branches, #path, #seq, #blog-nav ul, .toc, .toc ul {
  list-style: none;
}

/* typo */
#site, #blog-nav, header > time, h1 {
  font-family: "Open Sans", sans-serif;
}

#branches, #extra {
  font-family: Candara, "Open Sans", sans-serif;
}

h1, h2, h3, h4, caption, th {
  font-weight: 300;
}

#site, #branches, #blog-nav, header, header > time {
  font-weight: 400;
}

pre, code, #cf input[type=text], #cf textarea {
  font-family: monospace;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

#site, #branches, #extra, caption {
  font-size: 1.1em;
}

sup {
  font-size: .8em;
}

.sub {
  font-size: .6em;
}

caption, .sub {
  font-style: italic;
}

dl dt {
  font-weight: bold;
}

h1, h2, h3 {
  line-height: 1.2;
}

#cf input, textarea {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

#branches li.active a {
  text-shadow: 1px 1px 0 #222;
}

.feed img {
  vertical-align: -.15em;
}

figure img {
  vertical-align: bottom;
}

/* misc */
#site > *:after {
  content: ":";
}

#path li:after {
  content: " / ";
}

#path li:last-child:after {
  content: "";
}

#path li, #cp h3 {
  display: inline;
}

#cp h3 {
  margin-right: 1em;
}

#branches a, #blog-nav a, header, footer, article, section, aside, nav, figcaption {
  display: block;
}

abbr, *[title] {
  cursor: help;
}

a, a[title], *[title] a, a *[title] {
  cursor: pointer;
}

/* temporary form */
textarea, input {
  margin: 0 0 .5em;
}

#cf textarea, #cf input[type=text] {
  padding: 5px;
}

#cf .opt {
  padding: 0 5px;
  color: white;
  background: #a33;
}

/*** Resolutions ***/

/* Handheld screens */
@media screen and (max-width: 659px), projection and (max-width: 659px), tv and
    (max-width: 659px), handheld { /* dimensions */
  figure img {
    width: 100%;
  }
  aside figure img {
    max-width: 320px;
  }

  /* floating */
  .comment .avatar {
    float: left;
  }

  /* positioning */
  #branches {
    position: absolute;
  }
  #branches {
    top: 0;
    right: 0;
  }

  /* margins */
  #path {
    margin-top: 1.9em;
  }

  /* padding */
  .comment .avatar {
    background: #fff;
    padding-right: .5em;
  }
}

/* Everything up to 1004px width */
@media ( max-width : 1004px) {
  header > time {
    margin-bottom: .5em;
  }
}

/* Small (e.g. netbook) to large (e.g. desktop) screens */
@media screen and (min-width: 660px), projection and (min-width: 660px), tv
    and (min-width: 660px) { /* dimensions */
  body {
    width: 520px;
  }
  #path {
    width: 270px;
  }
  #content header .meta {
    width: 500px;
  }
  .comment header {
    width: 130px;
    min-height: 50px;
  }
  .comment .matter {
    width: 370px;
  }
  #cf textarea {
    width: 508px;
  }

  /* floating */
  .comment header {
    float: left;
  }
  .comment .matter {
    float: right;
  }

  /* positioning */
  #extra {
    position: absolute;
    top: 2em;
    left: 432px;
    z-index: -1;
  }
  .comment .avatar {
    position: absolute;
  }
  
  #back {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 10px;
  }

  /* margins */
  body {
    margin-left: 140px;
  }
  #content {
    margin-top: 3em;
  }
  .comment header {
    margin-right: 20px;
  }
  .huge img, .huge iframe, .full img, .full iframe, .comment .avatar {
    margin-left: -80px;
  }

  /* colors */
  #sf {
    background: white;
  }

  /* misc */
  #back {
    border-bottom: 0px;
    font-weight: bold;
    visibility: visible;
  }
}

/* Large screens */
@media screen and (min-width: 1005px), projection and (min-width: 1005px), tv
    and (min-width: 1005px) { /* dimensions */
  #sf {
    width: 207px;
  }
  #content .teasers.three article {
    width: 280px;
  }
  #content aside, #cp, #extra {
    width: 320px;
  }
  #path, #nav, #content h1, section#content article, article#content section, .digest article h1, .digest article > p, .comment {
    width: 520px;
  }
  body, #content, #content.digest article, #content .teasers {
    width: 860px;
  }
  #content figure.huge img {
    width: 600px;
  }
  #content figure.full img {
    width: 940px;
  }

  /* floating */
  #content header .meta, section#content article, article#content section, #sf input, #cf {
    float: left;
  }
  #content aside, #sf, #cp {
    float: right;
  }

  /* positioning */
  #extra {
    position: fixed;
    top: 0;
    left: 680px;
    z-index: 0;
  }

  /* margins */
  #content {
    margin-top: 0;
  }
  .teasers.three article {
    margin-right: 10px;
  }
  .teasers.three article:last-child {
    margin-right: 0;
  }

  /* paddings */
  .teasers article {
    padding-top: .5em;
  }
  #sf fieldset {
    padding: 2px;
  }

  /* borders */
  .teasers {
    border: none;
  }
  #sf fieldset {
    border: 1px solid #666;
  }
  #content .teasers article {
    border-top: 1px solid #bbb;
  }

  /* colors */
  #extra, #extra legend {
    color: white;
  }
  #sf {
    background: black;
  }

  /* misc */
  #sf {
    text-align: right;
  }
}

@media print {
  body {
    margin: 2.5cm;
  }
  #site {
    background: white;
    color: #black;
    padding: 0;
    position: static;
  }
  #site {
    float: left;
    width: 100px;
  }
  #branches, #extra {
    display: none;
  }
  #content figure.huge img, #content figure.full img {
    margin-left: 0;
  }
  #content a[href ^="http://"]:after, #comments a[href ^="http://"]:after {
    border-bottom: none;
    content: " (" attr(href) ")";
  }
  #content a[href ^="https://"]:after, #comments a[href ^="https://"]:after {
    border-bottom: none;
    content: " (" attr(href) ")";
  }
  #content a[href ^="ftp://"]:after, #comments a[href ^="ftp://"]:after {
    border-bottom: none;
    content: " (" attr(href) ")";
  }
  #content a[href ^="mailto:"]:after, #comments a[href ^="mailto:"]:after {
    border-bottom: none;
    content: " (" attr(href) ")";
  }
}